<div ng-controller="TableCtrl as tableCtrl">
    <table class="table table-bordered table-striped user-table">
        <thead>
        <tr>
            <th><a href="" ng-click="predicate = 'id'; reverse=!reverse">Id</a></th>
            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate = 'age'; reverse=!reverse">Age</a></th>
            <th><a href="" ng-click="predicate = 'email'; reverse=!reverse">Email</a></th>
            <th><a href="" ng-click="predicate = 'bio'; reverse=!reverse">Bio</a></th>
            <th><a href="" ng-click="predicate = 'avatar'; reverse=!reverse">Avatar</a></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="row in tableCtrl.data | filter:search | StartFromFilter:tableCtrl.dataIterator.getCurrentIndex() | limitTo:tableCtrl.pageRange | orderBy:predicate:reverse"
            data-ng-click="onSelect(row)"
            data-ng-class="{active: isActiveRow(row)}">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.age}}</td>
            <td>{{row.email}}</td>
            <td>{{row.bio}}</td>
            <td>{{row.avatar}}</td>
        </tr>
        </tbody>
    </table>

    <div class="col-sm-12 text-center pagination-wrap">
        <ul class="pagination">
            <li ng-class="{disabled:!tableCtrl.pagesIterator.hasBack()}"><a href="#" data-ng-click="tableCtrl.onBackPage()" >&laquo;</a></li>
            <li data-ng-repeat="page in tableCtrl.pages"
                ng-class="{active:tableCtrl.isActivePage(page.id)}">
                <a data-ng-click="tableCtrl.onPage(page)">
                    {{$index + 1}}
                </a>
            </li>
            <li ng-class="{disabled:!tableCtrl.pagesIterator.hasNext()}"><a href="#" data-ng-click="tableCtrl.onNextPage()">&raquo;</a></li>
        </ul>
    </div>

</div>